body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-image: url('/static/image/background.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: #333;

display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
flex-direction: column;
}

h1 {
background: rgba(0, 0, 0, 0.5);
display: inline-block;
padding: 15px 25px;
border-radius: 12px;
color: white;
text-align: center;
font-size: 35px;
fon-weight: bold;
}

.container {
background: rgba(255, 255, 255, 0.8);
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba (0, 0, 0, 0.2);
text-align: center;
width: 90%;
max-width: 400px;
}

label, select, input, button {
background: rgba(255, 255, 255, 0.9);
display: block;
margin; 10px auto;
width: 80%;
max-width: 300px;
text-align: center;
padding: 5px;
font-size: 16px;
border: 2px solid #ccc;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
background-color: #28a745;
color: white;
cursor: pointer;
}

#stopButton {
background-color: #dc3545 !important;
}

button#generateExampleButton {
background-color: #007bff;
}