<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematická Aplikácia</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/app.js" defer></script>
</head>

<body>
    <h1>Matematická hra</h1>
    
    <div class="container">
        <!-- Výber ročníka -->
        <label for="grade">Vyberte ročník</label>
        <select id="grade" name="grade">
            <option value="1">1. ročník</option>
            <option value="2">2. ročník</option>
            <option value="3">3. ročník</option>
            <option value="4">4. ročník</option>
        </select>
        
        <!-- Zobrazenie príkladu -->
        <div id="exampleText" class="example-text"></div>
        
        <!-- Zadávanie odpovede - použití step="any" pro povolení desetinných čísel -->
        <label for="answer">Zadajte odpoveď:</label>
        <input type="number" id="answer" name="answer" step="any">
        
        <!-- Výsledková správa -->
        <div id="resultMessage" class="result-message"></div>
        
        <!-- Tlačidlá -->
        <div class="button-group">
            <button id="generateExampleButton">Generovať príklad</button>
            <button id="next">Kontrola odpovede</button>
            <button id="stopButton">Zastaviť hru</button>
        </div>
    </div>
</body>
</html>